#content {
	float: right;
	height: 100vh;
	transition: 0.5s;
	background-color: #fffeff;
	z-index: 0;
	width: 100vw;
	overflow-y: scroll;
	font-size: 20px;
}

.text {
	position: relative;
	margin-top: 0;
	right: 1%;
	top: 1%;
	left: 1%;
	overflow-y: scroll;
}

#aboutme.text {
	display: none;
}

#gitea.text {
	display: none;
}

#projects.text {
	display: none;
}

#contact.text {
	display: none;
}
