#content {
	float: right;
	transition: 0.5s;
	background-color: blue;
	z-index: 0;
	width: 100vw;
	overflow-y: scroll;
}

#text {
	position: relative;
	margin-top: 0;
	top: 1%;
	left: 1%;
	overflow-y: scroll;
}
