#content {
	position: relative;
	float: right;
	height: 100%;
	transition: 0.5s;
	background-color: blue;
	z-index: 0;
	width: 80%;
}

#text {
	position: relative;
	margin-top: 0;
	top: 5%;
	left: 1%;
}
