#header {
	position: fixed;
	width: 100%;
	height: 15%;
	background-color: #222;
	padding-top: 30px;
	box-sizing: border-box;
	z-index: 1;
	text-align: center;
}

#name {
	position: relative;
	top: calc(90% - 50px);
	font-size: 50px;
	font-family: 'Roboto', sans-serif;
	border: 1px solid black;
	display: inline-block;
	text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white;
}

#photo {
	position: static;
	right: 1%;
	bottom: 1%;

	background-color: white;
	float: right;
	object-fit: contain;
	border-radius: 20%;
}
