#header {
	width: 100vw;
	/*height: 15vh;*/
	height: calc(auto + 5hv);
	background-color: #16253f;
	padding-top: 30px;
	box-sizing: border-box;
	z-index: 99;
	text-align: center;
}

#name {
	position: relative;
	top: calc(90% - 50px);
	margin-right: 1em;
	font-size: 50px;
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	color: white;
	text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black;
}

#photo {
	position: relative;
	right: 10%;
	bottom: 5%;
	background-color: white;
	float: right;
	object-fit: contain;
	border-radius: 20%;
	scale: 0.8;
}
