* {
	outline: solid 2px red;
}

body {
	margin: 0;
	padding: 0;
}

#main {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-color: #16253f;
	overflow: hidden;
}

#menubar {
	background-color: #16253f;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	transform: translateX(-200%);
	width: 100%;
	margin-right: 0.5em;
	margin-left: 0.5em;
	transition: 0.5s;
}

#menubar_wrapper:hover > #menubar  {
	transition: 0.5s;
	transform: translateX(0%);
}

.button {
	white-space: nowrap;
	font-size: 20px;
	color: white;
	border: none;

	width: 100%;
	height: calc((100% - 15%) / 4);
	margin-top: 5px;
	border-radius: 0.5em;

	background-color: #26355f;
	z-index: 1;
	flex-grow: 1;
	transition: 0.5s;
}

.button:hover {
	background-color: #9d2500;
	transition: 0.5s;
}

.button:active {
	background-color: #fd3d36;
	transition: 0.5s;
}

#menubar_wrapper {
	display: flex;
	width: min(5%, 70px);
	transition: 0.5s;
}
#menubar_wrapper:hover {
	width: min(20%, 200px);
}

#menubar_wrapper:hover > #description {
	transition: 0.5s;
	transform: translateX(100%);
}

#description {
	transform: translateX(0%);
	transition: 0.5s;
	flex-grow: 1;
	z-index: 1000;
}

#menubar_desc{
	position: relative;
	top: 50%;
	color: white;
	transform: rotate(-90deg);
}

#wrapper {
	min-height: 0;
	display: flex;
	width: 100vw;
	flex-grow: 1;
}

#content {
	height: 100vh;
	transition: 0.5s;
	z-index: 0;
	width: 100vw;
	overflow-y: scroll;
	font-size: 20px;
	border-radius: 1em 0 0 1em;
}

.text {
	position: relative;
	margin-top: 0;
	right: 1%;
	top: 1%;
	left: 1%;
	overflow-y: scroll;
}

#aboutme.text {
	display: none;
}

#gitea.text {
	display: none;
}

#projects.text {
	display: none;
}

#contact.text {
	display: none;
}
