#menubar {
	background-color: #16253f;
	transition: 0.5s;
	z-index: 1;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-right: 0.5em;
}

#menubar:hover > .button {
	transform: translateX(0%);
}

.button {
	border: none;
	transform: translateX(-200%);
	position: relative;
	margin-top: 5px;
	width: 100%;
	height: calc((100% - 15%) / 4);
	transition: 0.5s;
	font-size: 20px;
	color: white;
	background-color: #26355f;
	border-radius: 0.5em;
	z-index: 1;
}

.button:hover {
	transition: 0.5s;
	background-color: #9d2500;
}

.button:active {
	background-color: #fd3d36;
}

#description {
	transform: rotate(-90deg);
	color: red;
	bottom: 50%;
	font-size: 30px;
	opacity: 0.5;
	z-index: 99999;
}

#menubar_wrapper {
	display: flex;
	flex-direction: row;
	width: min(5%, 70px);
	transition: 0.5s;
}
#menubar_wrapper:hover {
	width: min(20%, 200px);
}
