#menubar {
	height: calc(100% - 15%);
	width: 100vw;
	float: left;
	top: 15%;
	background-color: green;
	transition: 0.5s;
	z-index: 1;
	flex: 1;
	flex-grow: 1;
}

#menubar:hover {
	background-color: green;
	transition: 0.5s;
	width: min(20%, 200px);
}

#menubar:hover > #content {
	width: 10%;
	float: right;
	transition: 0.5s;
}

#menubar:hover > .button {
	transform: translateX(0%);
}

.button {
	transform: translateX(-100%);
	position: relative;
	margin-top: 5px;
	width: 100%;
	height: 15%;
	transition: 0.5s;
	font-size: 15px;
}

.button:hover {
	transition: 0.5s;
	background-color: #222;
}

.button:active {
	background-color: #ff0;
}
